layout uv
use guix

# NPM lang servers
if command -v bun &>/dev/null; then
	if ! command -v yaml-language-server &>/dev/null; then
		bun i -g yaml-language-server
	fi
	if ! command -v bash-language-server &>/dev/null; then
		bun i -g bash-language-server
	fi
	if ! command -v vscode-css-language-server &>/dev/null; then
		bun i -g vscode-langservers-extracted
	fi
fi
